body {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    background-color: black;
}
h1 {
    font-family: "Space Mono", monospace;
}
a {
    text-decoration: none;
}
.buttons {
    display: flex;
    flex-direction: row;
}

.contact-me {
    margin-left: 14px;
}
.profile-pic {
    margin-top: 30px;
    width: 35%;
    height: auto;
    border-radius: 15%;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: "Josefin Sans", sans-serif;
}
.resume-download,
button {
    height: 50px;
    width: 170px;
    border-radius: 50px;
}
.resume-download :hover {
    color: red;
}
.reflect a p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    font-weight: 800;
    text-decoration: solid;

}
.resume-download,
button p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    font-weight: 800;
    text-decoration: solid;
}
.resume_button,
.contact-me button,
.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.date a p{
    color: black;
}
.about-me-card,
.profile-pic,
.contact-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.resume_button p,
.contact-me p{
    color: black;
}
.resume_button,
.contact_button {
    background-color: rgb(243, 243, 243);
}



.contact-me button {
    color: black;
}
.reflect :hover{
    color:red;
}
.contact-me :hover {
    color: red;
}
.about-me-card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
    padding: 10px;
    background-color:red;
    border-radius: 10px;
}
.about-me-card h3 {
    text-align: justify;
}

.basic-info,
.about-me {
    color: white;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
}
.basic-info table {
    width: 100%;
    text-align: left;
}
.basic-info i {
    font-family: "Space Mono", monospace;
    margin-top: 10px;
}
.table-info {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.college {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.date_type {
    text-align: center;
    padding: 10px;
    background-color: white;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.date_type a{
    color:black;
}
.edu_type {
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 70%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
}
.skills {
    width: 80%;
    text-align: center;
}
.skills ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.skills ul li {
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    border: solid 0.1rem rgb(243, 243, 243);
    list-style: none;
    padding-top: 13px;
    height: 30px;
    width: 90px;
    margin-bottom: 5px;
    border-radius: 7px;
    color: black;
}
.contact-card {
    width: 65%;
    border: solid 0.1rem rgb(172, 172, 172);
    border-radius: 7px;
    background-color: #ff0000;
    color: white;
}
.contact-card,
.contact-card form {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contact-card form div {
    margin-bottom: 5px;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.other {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    height: 15px;
    width: 100%;
    border: solid 1px rgb(137, 133, 133);
    margin: 2px;
    border-radius: 3px;
}
/* For Mobile Devices */
@media screen and (max-width: 400px) {
    h1 {
        font-size: x-large;
    }
    .about-me-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-me,
    .basic-info {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .college{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .date_type {
        margin-top: 20px;
        width: 80%;
    }
    .edu_type {
        margin-top: 1px;
    }
    #skills {
        display: block;
        width: 80%;
    }
    .skills-list li {
        width: 80%;
    }
    .buttons {
        width: auto;
    }
    textarea {
        width: 80%;
    }
}
#canvas1{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(black, black);
    z-index:-1;
}
